/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3, h4 {
    text-align: center;
    color: #333;
}

label, input, button {
    display: block;
    margin: 10px auto;
    width: 100%;
}

input {
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #0a8015;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0a8015;
}

.hidden {
    display: none;
}

#shortestPath {
    font-weight: bold;
    color: #007BFF;
    text-align: center;
}
